h1 {
  text-align: center;
  margin-top: 5%;
}

#return{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
  transition: font-size 0.2s
}

#return:hover{
  font-size: 1.015rem;
}

#forgot-box{
  margin: 20px auto;
  display: grid;
  grid-template-rows: 3rem 1fr;
  padding: 30px;
  width: 400px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  text-align: center;
}

#forgot-option-nav{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
}

.forgot-option{
  background-color: rgba(0, 0, 0, 1.0);
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}

.forgot-option:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}

.forgot-option.active, #submit-btn.active{
  background-color: rgba(255, 0, 0, 1.0);
  box-shadow: 0 0 4px rgba(0, 0, 0, 1.0);
}

#user-details-box{
  display: none;
  margin: 0 auto;
  grid-template-rows: 3rem 1fr;
  padding: 30px;
  width: 400px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  text-align: center;
}

#user-details-box.active{
  display: grid;
}

#user-details-box form{
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#user-details-box form input{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#id-input, #pw-input{
  display: none;
}

#id-input.active, #pw-input.active{
  display: inline-block;
}

#submit-btn{
  background-color: rgba(0,0,0,1.0);
  color: #fff;
}

#submit-btn:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}