#banner-top {
  display: block;
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  height: 253px;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

#banner-top img {
  display: block;
  width: 100%;
  position: relative;
  transition: transform 0.6s ease;
}

#banner-top img:hover{
  transform: scale(1.015);
}

#login-box{
  z-index: 1;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  width: 300px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  text-align: center;
}

#login-box h2{
  font-size: 2rem;
}

#login-box form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

#login-box form #id-input, #login-box form #pw-input{
  background-color: rgba(244, 246, 249, 0.5);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#login-box form button{
  padding: 5px;
  background-color: rgba(0,0,0,1.0);
  color: #fff;
  border-radius: 10px;
  transition: box-shadow 0.2s ease;
}

#login-box form button:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#login p{
  padding-top: 20px;
}

#forgot-credentials{
  text-decoration: none;
  color: #000;
  transition: font-size 0.2s ease;
}

#forgot-credentials:hover, #register:hover {
  font-size: 1.015rem;
}

#err-msg{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20%;
  margin: 0 auto;
  color: rgba(255, 0, 0, 0.8);
}

#delivery-platforms{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 7%;
  left: 50%;
  gap: 15px;
  transform: translateX(-50%);
}

.foodpanda{
  max-width: 90px;
  max-height: 70px;
  margin-top: 7px;
  
}

.grab{
  max-width: 80px;
  max-height: auto;
  margin-bottom: 10px;
}


#reg-box{
  position: absolute;
  bottom: 3%;
  left: 50%;
  text-align: center;
  font-size: 0.875rem;
  width: 200px;
  padding: 4px;
  border-radius: 10px;
  transform: translateX(-50%);
  transition: background-color 0.2s ease, color 0.2s ease;
}

#reg-box:hover{
  cursor: pointer;
  background-color: #000;
  color: #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#reg-text.inactive{
  display: none;
}

#reg-link{
  display: none;
  text-decoration: none;
  color: #fff;
  transition: font-size 0.2s ease;
}

#reg-link.active{
  display: block;
}