#staff-title{
  color: #fff;
  background-color: #000;
  padding: 5px 20px;
  margin-bottom: 10px;
  border-left: double 10px rgb(244, 246, 249);
}

#staff-title h2{
  margin: 0;
}

#create-staff-acc, #staff-list {
  padding: 0 20px;
}

#staff-form {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

#staff-form input{
  padding: 5px;
}

#auto-gen {
  font-size: 0.7rem;
}

#staff-table-wrapper{
  max-height: 350px;
  overflow-y: auto;
}

#staff-table {
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

#staff-table thead tr {
  background-color: rgba(84, 84, 84, 0.7);
  color: #fff;
}

#staff-table thead tr th, #staff-table tbody tr td{
  padding: 10px;
}

#staff-table tbody tr:nth-child(odd) {
  background-color: #D3D3D3;
}

#staff-table tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

#staff-id, .staff-table-no, .staff-table-staff-id{
  font-family: "Montserrat";
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.staff-table-actions{
  display: flex;
  flex-flow: row wrap;
}

.opt-edit, .opt-delete{
  flex: 1;
}

.opt-edit input, .opt-delete input{
  background:none;
  border:none;
  padding:0;
}

.opt-edit input:visited, .opt-delete input:visited{
  color: #000;
}

.opt-edit input:hover{
  cursor:pointer;
  color: rgba(3, 133, 205, 1);
}

.opt-delete input:hover{
  cursor: pointer;
  color: rgba(255, 0, 0, 0.8);
}