#staff-panel {
  margin-bottom: 30px;
}

#staff-edit, #staff-list, 
#runner-panel-content{
  padding: 0 20px;
}

#staff-div {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  min-height: 180px;
  margin-bottom: 20px;
}

#staff-edit {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

#staff-form {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  gap: 20px;
}

#staff-form-input-wrapper{
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

#staff-form label {
  display: inline-block;
  width: 100px;
}

#staff-form input, #runner-search-form input {
  padding: 5px;
}

#staff-id, #staff-pw {
  width: 200px;
}

#staff-edit-btns {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

#staff-table-wrapper,
#runner-table-wrapper{
  max-height: 350px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  overflow-x: auto;
}

#staff-table,
#runner-table{
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

#staff-table thead tr,
#runner-table thead tr {
  background-color: rgba(84, 84, 84, 0.7);
  color: #fff;
}

#staff-table thead tr th, #staff-table tbody tr td,
#runner-table thead tr th, #runner-table tbody tr td {
  padding: 10px;
}

#staff-table tbody tr:nth-child(odd),
#runner-table tbody tr:nth-child(odd) {
  background-color: #f9fafb;
}

#staff-table tbody tr:nth-child(even),
#runner-table tbody tr:nth-child(even) {
  background-color: #D3D3D3;
}

#runner-table tbody td{
  padding: 0 20px;
}

#staff-table tbody td:first-child,
#runner-table tbody td:first-child {
  width: 30px;
}

#staff-table tbody td:nth-child(2),
#runner-table tbody td:nth-child(2) {
  width: 80px;
}

#staff-table thead tr th:last-child,
#staff-table tbody tr td:last-child,
#runner-table thead th:last-child,
#runner-table tbody td:last-child {
  text-align: center;
}

#staff-id, .staff-table-no, .staff-table-staff-id,
.runner-table-no, .runner-table-id, .runner-table-tel{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.staff-table-actions,
.runner-table-actions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#runner-list {
  margin-bottom: 30px;
}

#runner-list-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#runner-search-form label{
  display: inline-block;
  width: 160px;
}

.opt-view, .opt-edit, .opt-delete {
  flex: 1;
}

.opt-view input, .opt-edit input, .opt-delete input {
  background:none;
  border:none;
  padding:0;
  font-size: 1.0rem;
}

.opt-view input:visited, .opt-edit input:visited, .opt-delete input:visited{
  color: #000;
}

.opt-view input:hover, .opt-edit input:hover{
  cursor:pointer;
  color: rgba(3, 133, 205, 1);
}

.opt-delete input:hover{
  cursor: pointer;
  color: rgba(255, 0, 0, 0.8);
}