#staff-panel {
  margin-bottom: 20px;
}

#create-staff-acc, #staff-list, 
#runner-list {
  padding: 0 20px;
}

#staff-form {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

#staff-form input{
  padding: 5px;
}

#auto-gen {
  font-size: 0.7rem;
}

#staff-table-wrapper,
#runner-table-wrapper{
  max-height: 350px;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

#staff-table,
#runner-table{
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

#staff-table thead tr,
#runner-table thead tr {
  background-color: rgba(84, 84, 84, 0.7);
  color: #fff;
}

#staff-table thead tr th, #staff-table tbody tr td,
#runner-table thead tr th, #runner-table thead tr td{
  padding: 10px;
}

#staff-table tbody tr:nth-child(odd),
#runner-table tbody tr:nth-child(odd) {
  background-color: #D3D3D3;
}

#staff-table tbody tr:nth-child(even),
#runner-table tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

#runner-table tbody td{
  padding: 0 20px;
}

#staff-table tbody td:first-child,
#runner-table tbody td:first-child {
  width: 30px;
}

#staff-table tbody td:nth-child(2),
#runner-table tbody td:nth-child(2) {
  width: 80px;
}

#staff-id, .staff-table-no, .staff-table-staff-id,
.runner-table-no, .runner-table-id, .runner-table-tel{
  font-family: "Montserrat";
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

.staff-table-actions,
.runner-opts-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.runner-opts-container{
  width: 250px;
}

.empty-div{
  flex: 5;
}

.opt-edit, .opt-delete{
  flex: 1;
}

.opt-edit input, .opt-delete input{
  background:none;
  border:none;
  padding:0;
  font-size: 1.0rem;
}

.opt-edit input:visited, .opt-delete input:visited{
  color: #000;
}

.opt-edit input:hover{
  cursor:pointer;
  color: rgba(3, 133, 205, 1);
}

.opt-delete input:hover{
  cursor: pointer;
  color: rgba(255, 0, 0, 0.8);
}