#change-pw-panel{
  padding: 0 20px;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-rows: 80% 20%;
}

#cpw-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto auto;
  padding: 50px;
  background-color: #D3D3D3;
  border: solid 4px rgba(84, 84, 84, 0.7);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#cpw-form label{
  display: grid;
  grid-template-columns: 200px 200px;
}

#cpw-form input[type="submit"]{
  width: 80%;
  margin: 20px 0 0;
}

#update-admin-btn{
  border: solid 1px #767676;
  border-radius: 10px;
  padding: 8px 0;
  transition: background-color 0.4s;
}

#update-admin-btn:hover{
  cursor: pointer;
  background-color: #d8d4d4;
  box-shadow: 0 0 2px rgba(128, 128, 128, 1.0);
}


#cpw-msg{
  text-align: center;
  color: rgba(255, 0, 0, 0.8);
}
