#change-pw-panel{
  padding: 0 20px;
  margin: 0 auto;
  width: fit-content;
}

#cpw-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
  margin: 20px;
}

#cpw-form label{
  display: grid;
  grid-template-columns: 200px 200px;
}

#cpw-form input[type="submit"]{
  width: 80%;
  margin: 20px 0 0;
}

#update-admin-btn{
  border: solid 1px #767676;
  border-radius: 10px;
  padding: 8px 0;
  transition: background-color 0.4s;
}

#update-admin-btn:hover{
  cursor: pointer;
  background-color: #d8d4d4;
  box-shadow: 0 0 2px rgba(128, 128, 128, 1.0);
}


#cpw-msg{
  text-align: center;
}
