body{
  display: grid;
  grid-template-columns: 20% 80%;
}

#menu-sidebar {
  z-index: 1;
  width: 20%;
  min-width: 300px;
  height: 90vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(84, 84, 84, 1.0);
  box-shadow: 10px 0 10px rgba(0,0,0,0.5);
  border-radius: 0 20px 20px 0;
  border-top: solid 1px rgba(255, 255, 255, 1.0);
  border-right: solid 1px rgba(255, 255, 255, 1.0);
  border-bottom: solid 1px rgba(255, 255, 255, 1.0);
  color: #fff;
}

#menu-sidebar h2 {
  padding: 30px;
}

#menu-sidebar ul {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
}

#menu-sidebar ul li{
  padding: 30px;
  border-top: solid 1px rgba(255, 255, 255, 1.0);
  transition: background-color 0.4s, color 0.4s, padding-left 0.4s;
}

#menu-sidebar ul li:last-child{
  border-bottom: solid 1px rgba(255, 255, 255, 1.0);
}

#menu-sidebar ul li:hover{
  cursor: pointer;
  background-color: rgba(51, 51, 51, 1.0);
}

#menu-sidebar ul li.active{
  background-color: rgba(51, 51, 51, 1.0);
  padding-left: 40px;
}

#main-panel {
  padding: 30px;
  width: 1200px;
}

#main-panel h2{
  margin-bottom: 20px;
}

#main-panel h3{
  margin-bottom: 10px;
}

.main-panel-content {
  display: none;
  width: 100%;
  margin-bottom: 20px;
}

.main-panel-content.active{
  display: block;
}

.btn {
  border: solid 1px #767676;
  border-radius: 10px;
  width: 80px;
  transition: background-color 0.4s;
}

.btn:hover {
  cursor: pointer;
  background-color: #d8d4d4;
  box-shadow: 0 0 2px rgba(128, 128, 128, 1.0);
}