#items-panel-content, #orders-panel-content, #revenue-panel-content {
  padding: 0 20px;
  margin-bottom: 30px;
}


#items-panel-content form{
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  margin-bottom: 20px;
}

#items-panel-content form label{
  display: inline-block;
  padding-right: 10px;
}

#items-panel-content form select,
#item-table input {
  padding: 5px;
}

#item-div{
  width: 100%;
}

#item-table-wrapper {
  max-height: 350px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  overflow-x: auto;
}

#item-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

#item-table thead tr {
  background-color: rgba(84, 84, 84, 0.7);
  color: #fff;
}

#item-table thead tr th, #item-table tbody tr td {
  padding: 10px;
}

#item-table tbody tr:nth-child(odd) {
  background-color: #f9fafb;
}

#item-table tbody tr:nth-child(even){
  background-color: #D3D3D3;
}

#runner-table tbody td{
  padding: 0 20px;
}

#item-table tbody td:first-child {
  width: 30px;
}

#item-table tbody td:nth-child(2) {
  width: 180px;
}

#item-table tbody td:last-child{
  width: 50px;
}

#update-items-btn-div {
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}

#update-items-btn{
  border: solid 1px #767676;
  border-radius: 10px;
  padding: 8px;
  transition: background-color 0.4s;
}

#update-items-btn:hover{
  cursor: pointer;
  background-color: #d8d4d4;
  box-shadow: 0 0 2px rgba(128, 128, 128, 1.0);
}
