#admin-panel-banner-div{
  max-width: 100%;
  max-height: 400px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

#admin-panel-banner {
  width: 100%;
  height: auto;
  position: relative;
  top: -240px;
  transition: transform 0.4s;
}

#admin-panel-banner:hover {
  transform: scale(1.05);
}

#items-panel-content, #orders-panel-content, #revenue-panel-content {
  padding: 0 20px;
  margin-bottom: 30px;
}


#items-panel-content form,
#order-filter{
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  margin-bottom: 20px;
}

#items-panel-content form label,
#orders-panel-content form label{
  display: inline-block;
  padding-right: 10px;
}

#items-panel-content form select,
#items-table input,
#orders-panel-content form select {
  padding: 5px;
}

#items-div,
#orders-div{
  width: 100%;
}

#items-table-wrapper,
#orders-table-wrapper {
  max-height: 350px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  overflow-x: auto;
}

#orders-table-wrapper {
  margin-bottom: 20px;
}

#items-table,
#orders-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

#items-table thead tr,
#orders-table thead tr,
#order-items-table thead tr  {
  background-color: rgba(84, 84, 84, 0.7);
  color: #fff;
}

#items-table thead tr th, #items-table tbody tr td,
#orders-table thead tr th, #orders-table tbody tr td {
  padding: 10px;
}


#items-table tbody tr:nth-child(odd),
#orders-table tbody tr:nth-child(odd) {
  background-color: #f9fafb;
}

#items-table tbody tr:nth-child(even),
#orders-table tbody tr:nth-child(even){
  background-color: #D3D3D3;
}

#runner-table tbody td {
  padding: 0 20px;
}

#items-table tbody td:first-child,
#orders-table tbody td:first-child {
  width: 30px;
}

#items-table tbody td:nth-child(2) {
  width: 180px;
}

#items-table tbody td:last-child {
  width: 50px;
}

#update-items-btn-div {
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}

#update-items-btn,
#hide-order-details-btn {
  border: solid 1px #767676;
  border-radius: 10px;
  padding: 8px;
  transition: background-color 0.4s;
}

#update-items-btn:hover,
#hide-order-details-btn:hover {
  cursor: pointer;
  background-color: #d8d4d4;
  box-shadow: 0 0 2px rgba(128, 128, 128, 1.0);
}

.orders-table-actions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#order-details {
  display: flex;
  flex-flow: row wrap;
  gap: 100px;
}

#order-details-wrapper {
  margin-top: 30px;
  padding: 20px;
  border-radius: 12px;
  background: #f9fafb;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

#order-details p {
  margin: 6px 0;
}

#order-details-2 {
  max-width: 100%;
}

#order-items-table-wrapper {
  max-height: 300px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  overflow-x: auto;
}

#order-items-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

#order-items-table th,
#order-items-table td {
  padding: 8px 10px;
  border-bottom: 1px solid #ddd;
  width: 125px;
}

#hide-order-details {
  position: relative;
  margin-left: auto;
}

#hide-order-details-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}